/*------------GENERALT STYLING------------*/

section {
    overflow: hidden;
}

.navbar {
    background-color: #fafafa;
    border-bottom: solid 1px #E5E0DA;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 10;
}

.navbar a {
    float: right;
    display: block;
    color: #000;
    padding: 15px 0;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #A32026;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab';
    font-weight: 900;
}

h2 {
    font-size: 20px;
}

p,
a {
    font-family: 'Lato';
}

.btn,
.btn-primary {
    background-color: #A32026;
    border: none;
}

.btn:hover {
    background-color: #561018;
}

/*------------BURGERMENU STYLING------------*/

/*------------HEADER STYLING------------*/

#welcome {
    background-color: #fafafa;
    background-size: cover;
}

#splashvideo {
    margin-top: 97px;
    width: 100%;
    position: absolute;
}


.welcome_tekst {
    margin-top: 120px;
    /*	background-color: rgba(255, 255, 255, 0.39);*/
    padding: 8%;
    z-index: 5;

}

.welcome_tekst h1 {
    font-size: 11vw;
    color: #ffffff;
    text-shadow: 0.2px 0 0 #561018, 0 -0.2px 0 #561018, 0 0.2px 0 #561018, -0.2px 0 0 #561018;
}

.welcome_tekst h3 {
    font-size: 2.3vw;
    color: #ffff;
    text-shadow: 0.5px 0 0 #561018, 0 -0.5px 0 #561018, 0 0.5px 0 #561018, -0.5px 0 0 #561018;
}

.arrow {
    width: 40px;
    height: 40px;
    background-image: url(img/arrow_down.svg);
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 auto;
    left: 45%;


    animation-name: arrow_kf;
    animation-duration: 0.8s;
    /**animation-fill-mode:**/
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;

}

@keyframes arrow_kf {
    0% {
        top: 60vw;
    }

    100% {
        top: 63vw;
    }
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.8;
}

#flag img {
    width: 25px;
}

/*------------INTRO STYLING------------*/

#intro {
    background-image: url(img/dust_scratches.png);
    padding-top: 17%;
}

#intro img {
    width: 100%;
}

#intro .row {}

.cookperfect1 img {
    position: relative;
    top: 20%;
}

.introtekst {
    position: relative;
    font-size: 18px;
}

.cookperfect2 img {
    position: relative;
    top: -5%;
    margin-bottom: 10px
}

/*------------GUIDES STYLING------------*/

#guides {
    background-color: #561018;
    color: #FFF;
    padding-bottom: 2em;
}

#guides h2 {
    margin-top: 0em;
}

#guide2,
#guide4 {
    text-align: right;
}

#guide1,
#guide2,
#guide3,
#guide4 {
    padding-top: 1em;
}

.fadeinleft {
    position: relative;
    left: -1000px;
    opacity: 0;
}

.fadeinright {
    position: relative;
    left: 1000px;
    opacity: 0;
}


/*------------EXPLAINER------------*/

#explainer {
    padding: 4em 0;
    background-image: url(img/dust_scratches.png);
}

#explainer video {
    margin: 1em 0 0;
}


.explainer_img {
    padding: 0 1em;
}

.explainer_tekst {
    display: none;
}

.explainermobil_tekst {
    margin-bottom: 2em;
}

/*------------INSTAGRAM------------*/

#instagram {
    padding: 0 15px;
    background-image: url(img/dust_scratches.png);
}

.instagram_img {
    padding: 3px;
    /*border: 1px #FFF solid;*/
}

.instagram_img:hover {
    opacity: 0.9;
}

/*------------FORHANDLER------------*/

#forhandler {
    padding: 3em 0;
    background-image: url(img/dust_scratches.png);
}

#forhandler img {
    margin-bottom: 20px;
}

.forhandler_icon {
    width: 2em;
    padding: 0 5px;
}

.forhandler_linje {
    margin-bottom: 2em;
}

/*------------CAROUSEL STYLING------------*/

#carousel {
    background-image: url(img/dust_scratches.png);
    padding-bottom: 1em;
}

#carousel-example-2 {
    margin-bottom: 2em;

}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bfc5cc;
    z-index: 3;
}

.carousel-item {
    height: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 8vw;
    z-index: 3;
    color: #fff;
    text-align: center;
    width: 70%;
    text-shadow: 0.7px 0 0 #000, 0 -0.7px 0 #000, 0 0.7px 0 #000, -0.7px 0 0 #000;
}


.carousel-control-next,
.carousel-control-prev {
    top: 0vw;
}

#qoute {
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
}


.person {
    font-weight: bold;
    font-style: italic;
}

/*------------IKONER------------*/

#ikoner {
    padding: 1em 0;
    background-color: #561018;
}

.desktopinfografik {
    display: none;
}

/*------------INSPIRATION------------*/

#inspiration {
    padding: 1em 0 2em;
    background-image: url(img/dust_scratches.png);
}

#inspiration img {
    margin-bottom: 25px;
}

#inspiration .btn {
    margin: 15px 0 0;
}

#inspiration .row {
    padding-top: 2em;
}

.inspirationstekst {
    padding: 0 45px;
}

.inspirationsbilleder img {
    padding: 10px 45px;
}

.valdemarsro_tekst {
    padding: 20px 45px;
}

.valdemarsro_billeder {
    padding: 0 45px;
}

.valdemarsro_billeder img {
    padding: 4px 0px;
}

.grill_oven img {
    margin: 10px 0;
}

.grill_oven li {
    margin: 8px 0;
}

/*------------FOOTER------------*/

#footer {
    min-height: 200px;
    background-color: #561018;
    padding: 40px 0;
}

.social {
    padding-top: 2em;
}

.kontakt_oplysninger {
    color: #FFF;
}

.social_media {
    width: 3em;
    padding: 5px;
}

#footer_btn {
    margin-top: 20px;
    background-color: #FFF;
    color: #000;
}

#footer_btn:hover {
    color: #A32026;
}



/*------------MEDIA QUERIES------------*/

@media screen and (min-width: 414px) {

    @keyframes arrow_kf {
        0% {
            top: 54vw;
        }

        100% {
            top: 57vw;
        }
    }

    #intro {
        padding-top: 18%;
    }

    .cookperfect1 img {
        top: 25%;
    }

    .cookperfect2 img {
        top: -15%;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 25px;
    }

    #guide1 {
        padding-top: 2em;
    }
    .carousel-caption {
        bottom: 15vw;
    }
}

@media screen and (min-width: 576px) {

    .arrow {
        width: 8%;
        height: 9%;
        left: 46%;
    }

    @keyframes arrow_kf {
        0% {
            top: 51vw;
        }

        100% {
            top: 54vw;
        }
    }

    .cookperfect1 img {
        top: 30%;
    }

    .cookperfect2 img {
        top: -25%;
    }

    #guide1 {
        padding-top: 1em;
    }

    #instagram {
        padding: 0px;
    }
    .carousel-caption {
        bottom: 14vw;
    }
}

/*COL-MD*/

@media screen and (min-width: 768px) {

    .arrow {
        width: 8%;
        height: 9%;
        left: 46%;
    }

    @keyframes arrow_kf {
        0% {
            top: 49vw;
        }

        100% {
            top: 52vw;
        }
    }

    #intro {
        padding-top: 20%;
    }

    .introtekst {
        font-size: 25px;
    }

    .cookperfect1 img {
        top: 30%;
    }

    .cookperfect2 img {
        top: -20%;
    }

    #guide1 {
        padding-top: 3em;
    }

    .carousel-item {
        height: 350px;
    }

    .carousel-caption {
        text-align: left;
        width: 50%;
        bottom: 6vw;
    }

    #qoute {
        font-size: 22px;
    }

    .desktopinfografik {
        display: block;
    }

    .mobilinfografik {
        display: none;
    }
}

/*COL-LG*/

@media screen and (min-width: 992px) {

    #splashvideo {
        margin-top: 0px;
        width: 100vw;
        position: absolute;
    }

    .arrow {
        width: 5%;
        height: 10%;
        left: 47.5%;
    }

    @keyframes arrow_kf {
        0% {
            top: 40vw;
        }

        100% {
            top: 43vw;
        }
    }

    #intro {
        padding-top: 11%;
    }

    .cookperfect1 img {
        top: 40%;
    }

    .cookperfect2 img {
        top: -25%;
    }

    #guides h2 {
        margin-top: 2em;
    }

    #explainer video {
        margin: 0em 0 0;
    }

    .explainermobil_tekst {
        display: none;
    }
    .explainer_tekst {
        display: block;
    }

    .social_media {
        padding-bottom: 5px;
    }

}

@media screen and (min-width: 1200px) {

    #splashvideo {
        margin-top: 0px;
    }

    #intro {
        padding-top: 16%;
    }

}
